In [1]:
import numpy as np

In [10]:
path = './data/salarios.csv'
arreglo_salarios = np.genfromtxt(path,delimiter =',')

In [11]:
arreglo_salarios

array([[ 200.,  250.,  300.,  350.,  500.,  800., 1000., 1200.],
       [ 100.,   50.,  500.,  450.,  200.,  600., 9000., 1100.],
       [ 100.,   50.,  500.,  450.,  200.,  600., 9000., 1100.],
       [ 100.,   50.,  500.,  450.,  200.,  600., 9000., 1100.],
       [ 100.,   50.,  500.,  450.,  200.,  600., 9000., 1100.],
       [ 100.,   50.,  500.,  450.,  200.,  600., 9000., 1100.],
       [ 100.,   50.,  500.,  450.,  200.,  600., 9000., 1100.]])

In [16]:
arreglo_salarios =arreglo_salarios * 1.1
arreglo_salarios

array([[  242. ,   302.5,   363. ,   423.5,   605. ,   968. ,  1210. ,
         1452. ],
       [  121. ,    60.5,   605. ,   544.5,   242. ,   726. , 10890. ,
         1331. ],
       [  121. ,    60.5,   605. ,   544.5,   242. ,   726. , 10890. ,
         1331. ],
       [  121. ,    60.5,   605. ,   544.5,   242. ,   726. , 10890. ,
         1331. ],
       [  121. ,    60.5,   605. ,   544.5,   242. ,   726. , 10890. ,
         1331. ],
       [  121. ,    60.5,   605. ,   544.5,   242. ,   726. , 10890. ,
         1331. ],
       [  121. ,    60.5,   605. ,   544.5,   242. ,   726. , 10890. ,
         1331. ]])

In [18]:
np.savetxt(path,arreglo_salarios, delimiter = ";",fmt=2)