# Titulo

## Titulo 2

In [ ]:
| Tables        | Are           | Cool  |
| ------------- |:------------- -----
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

In [1]:
print('Hola Mundo')

Hola Mundo

In [2]:
nombre = 'Daniel'

In [3]:
nombre

'Daniel'

In [4]:
edad = 26
edad

26

In [5]:
sueldo = 1.2023
sueldo

1.2023

In [8]:
# Comentario de python
edad_str = '29'
sumar = int(edad_str) + edad

In [9]:
sumar

55

In [10]:
type (sumar)

int

In [11]:
type(edad_str)

str

In [12]:
type(sueldo)

float

In [13]:
"""
asdjsalkdakddasdasdasd
asdjsalkdakddasdasdasddsadsad
asdasd
"""

'\nasdjsalkdakddasdasdasd\nasdjsalkdakddasdasdasddsadsad\nasdasd\n'

In [16]:
parrafo = """ 
Este es un parráfo en python """

In [17]:
parrafo

' \nEste es un parráfo en python '

In [18]:
nombre_completo ='Daniel Moises Cajas Montufar'

In [20]:
nombre_completo.split(' ')

['Daniel', 'Moises', 'Cajas', 'Montufar']